/************** BACKGROUND **************/

body {
	text-align: center;
	font: 300 20px/1.4 Roboto, 'Open Sans', Helvetica, Arial, sans-serif; 
}

.background-container {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}


/************** BODY CONTENT **************/

.navbar{
  background-color: rgba(0,0,0,0.5);
  font-family: "Playfair Display", serif;
  width:100%;
  height: 2em;
  line-height: 2em;
  position: absolute;
  top:0%;
  left:0%;
  right:0%;
}

.link{
  font-size: 1em;
  color: #9d967d;
  text-decoration: none;
  float: left;
  margin-left:21%;
  width:5.75%;
  display:inline-block;

}

.link:hover{
  cursor:pointer;
  text-decoration: underline;
}

#projects{
  text-decoration: underline;
}

.pro{
  width: 70%;
  height: 35em;
  padding-bottom: 2em;
  position: absolute;
  top:10%;
  left:15%;
  right:15%;
  color: white;
  /*border-radius: 10px;*/

}

a{
    text-decoration: none;
}

.web{
  padding: 1em;
  /*color: #9d967d;*/
  color: white;
  font-family: "Playfair Display SC", serif;
  margin-top: 1em;
  font-size: 120%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  width: 35%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: 12em;
}

.web:hover{
  cursor:pointer;
  background-color: black;
}

.web h4{
  background: rgba(0,0,0,0.5);
}

.web p{
  background: rgba(0,0,0,0.7);
}

#pro1{
  background: url(../assets/bac1.png);
}

#pro2{
  background: url(../assets/bac2.jpg);
}

#pro3{
  background: url(../assets/bac3.jpg);
}

#pro4{
  background: url(../assets/bac4.jpg);
}

#pro5{
  background: #061539;
}

#pro1:hover{
  background: #9d967d;;
}

#pro2:hover{
  background: #9d967d;;
}

#pro3:hover{
  background: #9d967d;;
}

#pro4:hover{
  background: #9d967d;;
}

#pro5:hover{
  background: #9d967d;;
}










