/************** BACKGROUND **************/
/* Set all parents to full height */
html, body, 
.container,
.cbp-fbscroller,
.cbp-fbscroller section { 
  height: 100%; 
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #333333;
}

::-webkit-scrollbar-thumb {
  background: #334650;
  border: 1px solid #333;
  border-radius: 50px;
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.4);
}


/* The nav is fixed on the right side  and we center it by translating it 50% 
(we don't know it's height so we can't use the negative margin trick) */
.cbp-fbscroller > nav {
  position: fixed;
  z-index: 9999;
  right: 70px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cbp-fbscroller > nav a {
  display: block;
  position: relative;
  color: transparent;
  height: 50px;
}

.cbp-fbscroller > nav a:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 4px solid #fff;
}

.cbp-fbscroller > nav a:hover:after {
  background: rgba(255,255,255,0.6);
}

.cbp-fbscroller > nav a.cbp-fbcurrent:after {
  background: #fff;
}

/* background-attachment does the trick */
.cbp-fbscroller section {
  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#fbsection1 {
  
}

#fbsection2 {
  /*background:rgb(27, 36, 40);*/
  background-image: url(assets/back1.jpg);
}

#fbsection3 {
 background-image: url(assets/back2.jpg);
}

#fbsection4 {
  background-image: url(assets/back3.jpg);
}

#fbsection5 {
  background-image: url(assets/back4.jpg);
}


body {
	text-align: center;
}

/************** SECTION 1 **************/
.background-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}


.title{
  color: #9d967d;
  font-family:"Playfair Display SC", serif;
  font-size:330%;
  width:70%;
  position: absolute;
  top:23%;
  left:16%;
  right: 20%;
}

.subtitle{
	color: white;
  font-family: "Playfair Display", serif;
	font-style: italic;
	font-size: 140%;
	width:60%;
	position: absolute;
	top:42%;
	left:20%;
	right: 20%;

}

.links{
  font-size: 150%;
  width:60%;
  position:absolute;
  top:45%;
  left:20%;
  right:20%;
  padding-top:8%;
}

.link{
  color: #9d967d;
  font-family: "Playfair Display SC", serif;
  text-decoration: none;
  background-color: #333333;
  border: 1px solid;
  float: left;
  border-radius: 5px;
  margin-left:20%;
  margin-right:3%;
  margin-bottom: 0%;
  width:19%;
  line-height: 2em;
  height: 2em;
  display:table-row;
}

.link:hover{
  color:#333333;
  cursor:pointer;
  background-color: #9d967d;
}

/************** SECTION 2 **************/

.pro{
  width: 70%;
  height: 35em;
  padding-bottom: 2em;
  position: absolute;
  top:5%;
  left:15%;
  right:15%;
  color: white;

}

.pro h2{
  font-family: "Playfair Display SC", serif;
  color: white;
}

a{
    text-decoration: none;
}

.web{
  padding: 1em;
  color: white;
  font-family: "Playfair Display", serif;
  margin-top: 1em;
  font-size: 120%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  width: 35%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: 12em;
  border:solid 1px white;

}

.web:hover{
  cursor:pointer;
  background-color: black;
}

.web h4{
  background: rgba(0,0,0,0.5);
}

.web p{
  background: rgba(0,0,0,0.7);
}

#pro1{
  background: url(assets/bac1.png);
}

#pro2{
  background: url(assets/bac2.jpg);
}

#pro3{
  background: url(assets/bac3.jpg);
}

#pro4{
  background: url(assets/bac4.jpg);
}

#pro5{
  background: #061539;
}

#pro1:hover{
  background: rgba(0,0,0,0.5);
}

#pro2:hover{
  background: rgba(0,0,0,0.5);
}

#pro3:hover{
  background: rgba(0,0,0,0.5);
}

#pro4:hover{
  background: rgba(0,0,0,0.5);
}

#pro5:hover{
  background: rgba(0,0,0,0.5);
}



/************** SECTION 3 **************/

.abo{
  /*background-color: rgba(0, 0, 0, 0.5);*/
  color:white;
  width: 70%;
  height: 33em;
  padding-bottom: 2em;
  position: absolute;
  top:10%;
  left:15%;
  right:15%;
  /*box-shadow:0px 0px 0px 10px #333333 inset;*/
  font-family: "Playfair Display", serif;
  /*overflow: scroll;*/
}

.abo h3{
  /*color:#9d967d;*/
  background-color: rgba(0,0,0,0.5);
  padding: 1em;
  font-size: 200%;
}

.fact{
  background-color:rgba(255,255,255, 0.9);
  border-radius: 200px;
  display: inline-block;
  width: 10em;
  padding: 1em;
  line-height: 1.5em;
  height: 10em;
  color: black;
  /*border:1px solid #9d967d;*/

}

.topic{
  color:#9d967d;
  font-size: 120%;
  margin-bottom: 1em;
  font-family: "Playfair Display", serif;
}



/************** SECTION 4 **************/


.art{
  /*width: 70%;*/
  /*height: 35em;*/
  position: absolute;
  top:2%;
  left:15%;
  right:15%;
  color:white;
  /*font-style: bold;*/
  font-size: 110%;
}

#text{
  background-color: rgba(0,0,0,0.5);
  padding: 0.25em;
}

#text h2{
  font-family: "Playfair Display SC", serif;
}

#text p{
  font-family: "Playfair Display", serif;
}

.art img{
  padding-top: 1em;
  margin-right: 1em;
  margin-left: 1em;
  /*margin-bottom: 2em;*/
}

/************** SECTION 5 **************/


.contact{
  height: 35em;
  position: absolute;
  top:2%;
  left:15%;
  right:15%;
  color:white;
  font-size: 130%;
  font-family: "Playfair Display", serif;
}

.contact img{
  padding-top: 3em;
  padding-bottom: 6em;
  margin-right: 1em;
  margin-left: 1em;
}

.contact img:hover{
  padding-top: 3em;
  padding-bottom: 6em;
  margin-right: 1em;
  margin-left: 1em;
  opacity: 0.5;
}




