body
{ 
background-image:url('../Images/background_3.jpg');
background-repeat:no-repeat;
background-attachment:fixed;
}

h1{

	font-size: 3.125em;
	color: white;
}

p{
	color:white;
	font-style: italic;
	margin-left: 33%;
	margin-left: 33%;
	margin-top: 10%;
	width: 33%;
	border: 3px solid purple;
	padding:5px;

}

a:link {
	text-decoration: none;
	color: #3D59AB;
	font-family: Verdana, sans-serif;
	
}
a:hover {
	text-decoration: none;
	color: black;
	font-family: Verdana, sans-serif;
	font-style: italic;
	
}
a:visited {
	text-decoration: none;
	color: purple;
	font-family: Verdana, sans-serif;
	
}


#button{
    height:50px;
    width : 130px;
    border-color:white;
    background-color:#BCD2EE;
    border-style:solid;
    border-width:2px;
    border-radius:5px;
    margin:auto;
    margin-top: 50px;
    text-align:center;
    }


    
