body
{ 
background-image:url('../Images/background_3.jpg');
background-repeat:no-repeat;
background-attachment:fixed;
}

h1{

	font-size: 50px;
	color: white;
}

p{
	color:white;
	font-style: italic;
	margin-left: 50px;
}

#links{
	color:white;
	float:bottom;
}