.create_user{

  margin-left:45%;
  margin-top: 25em;
  width: 10%;
}

#nav_index{
  width:35%;
  margin-top: 35em;
  margin-left:30%;
}



/*------------------------HTML ELEMENTS STYLING----------------*/

th {
  text-align: left;
}


/*------------------------PAGE DIVS----------------------------*/

#page_1{

  position: absolute;
  top:0px;
  right: 0px;
  left:0px;
  bottom: 0px;
  background: url('/assets/frac_2.jpg');
}

#page_2{

  position: absolute;
  top:0px;
  right: 0px;
  left:0px;
  bottom: 0px;
  background: url('/assets/cat.jpg');
}

#page_3{

  position: absolute;
  top:0px;
  right: 0px;
  left:0px;
  bottom: 0px;
  background: url('/assets/cat.jpg');

}



/*---------------------CIRCLE DIVS-----------------------------*/

#circle_1{
  border-radius: 40em;
  margin-left: 26%;
  line-height: 14em;
  width: 22%;
  text-align: center;
  font-size: 30px;
  display: inline-block;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bold;

  color:black;
}



#circle_1:hover{
  border-radius: 40em;
  margin-left: 26%;
  line-height: 14em;
  width: 22%;
  text-align: center;
  font-size: 30px;
  display: inline-block;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bold;

  color:white;
  background-color: rgba(0, 0, 0, 0.7);
}

#circle_2{
  border-radius: 40em;
  margin-top: 9.9em;
  margin-left: 11.5%;
  line-height: 14em;
  width: 22%;
  text-align: center;
  font-size: 30px;
  display: inline-block;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bold;

  color:black;
}


#circle_2:hover{
  border-radius: 40em;
  margin-top: 9.9em;
  margin-left: 11.5%;
  line-height: 14em;
  width: 22%;
  text-align: center;
  font-size: 30px;
  display: inline-block;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bold;

  color:white;
  background-color: rgba(0, 0, 0, 0.7);
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
