<div id="container_1">
  <a id="link_1" href="/about_me"><div id="circle_1">Philosophy</div></a>
  <a id="link_2" href="/cool_shit"><div id="circle_2">About</div></a>
</div>
<div id="container_2">
  <a id="link_1" href="/about_me"><div id="circle_1">Philosophy</div></a>
  <a id="link_2" href="/cool_shit"><div id="circle_2">Wooooowww</div></a>
</div>
<div id="container_3">
  <a id="link_1" href="/about_me"><div id="circle_1">Philosophy</div></a>
  <a id="link_2" href="/cool_shit"><div id="circle_2">Waaaaaaaa</div></a>
</div>
